<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link open-popup" data-popup=".popup-pasajero">
                <i class="f7-icons">close</i>
                <span>Cancelación</span>
            </a>
        </div>
        <div class="center sliding">Chofer llegando</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="PasajeroComienzaViaje" class="page">
        <div class="page-content">
            <div id="mapPasajeroComienzaViaje"></div> 

            <div class="card">
              <div class="card-header">Información del Chofer</div>
              <div class="card-content">
                <div class="card-content-inner row">
                    <img id="fotoChofer" width="50px" height="50px" class="col-20"></img>
                    <div id="chofer" class="col-80"></div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>