
<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Atrás</span></a></div>
        <div class="center sliding">Guardar ubicación</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="PasajeroUbicacion" class="page">

        <div class="page-content">
            <div id="mapUbi"></div>
              <input type="hidden" id="lat" name="lat" placeholder="Latitud" />
              <input type="hidden" id="lon" name="lon" placeholder="Longitud" />
              <input type="hidden" name="tipo" value="" id="tipo">
              <br><input type="submit" value="Guardar Sitio" name="guardar" id="guardarUbicacion" class="button button-big button-fill color-green form-from-data">
        </div>
    </div>
</div>