<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">Aceptación de viaje</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="ChoferPeticion" class="page">
        <div class="page-content">
            <div class="row" style="margin-top:15%;">
                <div class="col-20"></div>
                <div class="col-60">
                    <div class="demo" id="demo" data-timer="60" style="height: 250px; align-content: center;">
                        <div class="card">
                              <div class="card-content">
                                <div class="card-content-inner">
                                    <center>
                                        <p style="font-size: 15px;">Tiempo de espera</p>
                                        
                                    </center>
                                </div>
                              </div>
                        </div>
                         
                    </div>
                    <div style="margin-top: 30%">
                        <div class="row">
                          <div class="col-50">
                            <a href="#" class="button button-fill button-big button-red color-green" id="Aceptar">Aceptar</a>
                          </div>
                          <div class="col-50">
                            <a href="#" class="button button-fill button-big button-green color-red" id="Rechazar">Rechazar</a>
                          </div> 
                        </div> 
                    </div>
                    
                </div>
                <div class="col-20"></div>
            </div> 
        </div>
    </div>
</div>